/* Sign-Up page */
#signUp {
    background-color: white;
    border: 1px solid black;
    width: 80%;
    height: 40%;
    margin: 15em auto;
    padding: 2em;
}

/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
}

#login-modal-outerArea {
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Modal Content */
#login-modal-content {
    background-color: #fefefe;
    border: 1px solid #808080;
    margin: auto;
    padding: 2em 3em;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: -1.2em;
    margin-right: -.8em;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-input {
   border: 1px solid #4a4a4a;
   margin-bottom: 1em;
   padding-left: .5em;
   font-size: 1em;
   width: 100%;
   height: 3em;
}

h1 {
    padding-left: 1em;
    float: left;
    margin: 0;
}

/*  News Feed  */
.feed-wrapper .feed-image {
    text-align: center;
}

.feed-wrapper img {
    cursor: pointer;
    margin: 0 auto;
    max-height: 35em;
    width: 100%;
    max-width: 100%;
}

.feed-wrapper {
    max-width: 100%;
}

#author {
    padding: 0.5em 1.5em;
}

label {
    display: -webkit-box;
    padding: 0 1em;
    color: white;
    margin: 0;
}

/*  Articles  */
.source {
    background-color: #4a4a4a;
    font-weight: bold;
    font-size: 1.8em;
    color: #5aabfc;
    padding: .8em;
    margin-bottom: 0;
}

#title {
    overflow-wrap: break-word;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: .5em 1.4em;
    -webkit-box-decoration-break: clone;
}

#description {
    padding-top: .7em;
    padding-left: 1.9em;
    font-size: 0.8em;
}

#publishedOn {
    padding-left: 1.9em;
    padding-bottom: .8em;
    font-size: .8em;
}

a:link {
    color: #ffffff;
}
a:hover {
    color: #d6d6d6;
}
a:visited {
    color: #5aabfc;
}

/* Mixed Media */
@media only screen and (max-width: 600px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: .5em;
    }
 }
 
 @media only screen and (min-width: 600px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: .5em;
    }
 }
 
 @media only screen and (min-width: 900px) {
    .feed-wrapper {
        background-color: rgba(128, 128, 128, .8);
        margin-bottom: .5em;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: .5em;
    }
 }

